* {
  margin: 0;
  padding-top: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1150px;
  width: 95%;
  margin: 0 auto;
  font-family: "Circe";
  color: #ffffff;
}
.first {
  background: url('../img/bg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.first header {
  padding: 20px 0 0 0;
  margin-bottom: 60px;
}
.first header .logo {
  margin-right: 35px;
}
.first header .formula h4 span {
  padding: 0 5px;
  color: red;
  background-color: #ffffff;
  border-radius: 15px;
}
.first header .burger {
  z-index: 7;
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 2px 8px;
  position: absolute;
  top: 5%;
  right: 5%;
}
.first header .burger a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
.first header nav {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 30%;
  z-index: 5;
  display: none;
}
.first header .active {
  display: block;
}
.first header .cansel {
  display: none;
}
.first header nav ul {
  list-style-type: none;
  padding: 0 15px;
}
.first header nav ul li {
  border: 1px solid rgba(255, 255, 255, 0);
  margin-bottom: 10px;
}
.first header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 20px;
}
.first header nav ul li:hover {
  border: 1px solid #ffffff;
  border-radius: 15px;
}
.first .mainInfo {
  text-align: center;
  padding-bottom: 60px;
}
.first .mainInfo h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  padding: 0 20px;
}
.first .mainInfo p {
  font-size: 20px;
  margin-bottom: 50px;
  padding: 0 20px;
}
.first .mainInfo button {
  background: #a3cd8c;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
}
.first .mainInfo button:hover {
  cursor: pointer;
  background: #87be68;
}
.first .border {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #a3cd8c;
  background: linear-gradient(to right, #a3cd8c 35%, #8eb6b4 70%, #7ea4d7 100%);
}
.second {
  background-color: #49607b;
  border-bottom: 2px solid #4f647d;
}
.second .container {
  padding-bottom: 50px;
}
.second .container .image {
  text-align: center;
  padding-top: 65px;
}
.second .container .image img {
  max-width: 90%;
}
.second .container .content {
  padding-left: 40px;
  padding-top: 130px;
  max-width: 390px;
}
.second .container .content h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 40px;
}
.second .container .content p {
  color: #9fa7a6;
  margin-bottom: 40px;
}
.second .container .content button {
  color: #a3cd8c;
  border: 2px solid #a3cd8c;
  border-radius: 25px;
  background: inherit;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: 91% 50%;
  padding: 15px 35px 15px 25px;
}
.second .container .content button:hover {
  cursor: pointer;
  background: #7da3d7;
}
.third {
  background-color: #49607b;
  border-bottom: 2px solid #596b84;
  text-align: center;
}
.third .container div {
  padding: 50px 35px;
}
.third .container div img {
  margin-bottom: 50px;
}
.third .container div h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.third .container div p {
  color: #9ea3af;
}
.fourth {
  background-color: #49607b;
  border-bottom: 2px solid #596b84;
}
.fourth .container {
  padding-bottom: 50px;
}
.fourth .container .image {
  text-align: center;
  padding-top: 115px;
}
.fourth .container .image img {
  max-width: 90%;
}
.fourth .container .content {
  padding-left: 40px;
  padding-top: 50px;
  max-width: 390px;
}
.fourth .container .content h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 40px;
}
.fourth .container .content p {
  color: #9fa7a6;
  margin-bottom: 40px;
}
.fourth .container .content button {
  color: #a3cd8c;
  border: 2px solid #a3cd8c;
  border-radius: 25px;
  background: inherit;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: 91% 50%;
  padding: 15px 35px 15px 25px;
}
.fourth .container .content button:hover {
  cursor: pointer;
  background: #7da3d7;
}
.fifth {
  background-color: #49607b;
  border-bottom: 2px solid #596b84;
}
.fifth .container {
  padding-bottom: 50px;
}
.fifth .container .image {
  text-align: center;
  padding-top: 50px;
}
.fifth .container .image img {
  max-width: 90%;
}
.fifth .container .content {
  padding-top: 115px;
  padding-left: 40px;
  max-width: 390px;
}
.fifth .container .content h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 40px;
}
.fifth .container .content p {
  color: #9fa7a6;
  margin-bottom: 40px;
}
.fifth .container .content button {
  color: #a3cd8c;
  border: 2px solid #a3cd8c;
  border-radius: 25px;
  background: inherit;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: 91% 50%;
  padding: 15px 35px 15px 25px;
}
.fifth .container .content button:hover {
  cursor: pointer;
  background: #7da3d7;
}
.sixth {
  background-color: #49607b;
  border-bottom: 2px solid #596b84;
  padding-bottom: 50px;
}
.sixth .activityInfo {
  padding-top: 115px;
  margin-bottom: 80px;
  padding-left: 20px;
}
.sixth .activityInfo h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 40px;
}
.sixth .activityInfo table {
  border: 1px solid #596b84;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.sixth .activityInfo table tr {
  width: 100%;
}
.sixth .activityInfo table tr > td:first-child {
  color: #78a3d7;
  border: 1px solid #596b84;
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis !important;
  padding: 5px;
}
.sixth .activityInfo table tr > td:nth-child(2) {
  text-align: center;
  color: #9ea3af;
  border: 1px solid #596b84;
  padding: 5px;
}
.sixth .activityInfo table tr > td:nth-child(3) {
  color: #61b579;
  border: 1px solid #596b84;
  text-align: center;
  padding: 5px;
}
.sixth .newsInfo {
  padding-left: 20px;
}
.sixth .newsInfo h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 40px;
}
.sixth .newsInfo .article {
  padding-bottom: 20px;
}
.sixth .newsInfo .article h5 {
  font-weight: bold;
  font-size: 16px;
}
.sixth .newsInfo .article p {
  color: #9ea3af;
}
.border {
  width: 100%;
  height: 5px;
  background: #a3cd8c;
  background: linear-gradient(to right, #a3cd8c 35%, #8eb6b4 70%, #7ea4d7 100%);
}
.seventh {
  position: relative;
  background: url('../img/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 85px 20px 0;
}
.seventh .container {
  padding-bottom: 35px;
}
.seventh .container .form {
  padding: 20px 35px;
  background: #ffffff;
  max-width: 630px;
  width: 100%;
  border-radius: 2px;
  border-top: 10px solid black;
  border-image: url('../img/ribbon.png') 8 0 0 0 round;
  margin: 0 auto;
}
.seventh .container .form h3 {
  font-size: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
}
.seventh .container .form form {
  width: 100%;
  font-family: "Circe";
  max-width: 500px;
  margin: 0 auto;
}
.seventh .container .form form input {
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  text-indent: 10px;
  background: #f4f7fb;
  border: none;
  text-transform: uppercase;
  color: #b0bcc9;
}
.seventh .container .form form textarea {
  width: 100%;
  text-indent: 10px;
  background: #f4f7fb;
  border: none;
  text-transform: uppercase;
  color: #b0bcc9;
  height: 140px;
  padding-top: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}
.seventh .container .form form input[type="submit"] {
  background: #7da3d7;
  border-radius: 2px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}
.seventh .container .form form input[type="submit"]:hover {
  cursor: pointer;
  color: #b0bcc9;
}
.eighth {
  background: #49607b;
  border-bottom: 2px solid #596b84;
}
.eighth .proposal {
  text-align: center;
  padding: 85px 40px 50px;
}
.eighth .proposal h4 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.eighth .proposal button {
  background: #a3cd8c;
  text-transform: uppercase;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 50px;
  border: none;
}
.eighth .proposal button:hover {
  cursor: pointer;
  background: #87be68;
}
footer {
  background: #49607b;
}
footer .rules {
  padding-top: 30px;
  text-align: center;
}
footer .rules ul {
  padding: 0;
  list-style-type: none;
}
footer .rules ul li {
  display: inline-block;
  padding: 5px 10px;
}
footer .rules ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
footer .rules ul li a:hover {
  color: #9ea3af;
}
footer .rights {
  text-align: center;
  padding: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first {
    height: auto;
  }
  .first header .logo {
    float: left;
  }
  .first header .formula {
    float: left;
    padding-top: 20px;
  }
  .first header nav {
    background: none;
    display: block;
    float: right;
    position: static;
    margin-left: 20px;
    padding-top: 20px;
  }
  .first header nav ul {
    list-style-type: none;
  }
  .first header nav ul li {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  .first header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 5px;
  }
  .first header nav ul li:hover {
    border: 1px solid #ffffff;
    border-radius: 15px;
  }
  .first header .burger {
    display: none;
  }
  .first header:after {
    display: table;
    clear: both;
    content: "";
  }
  section .container .image {
    float: left;
    width: 50%;
    padding-top: 65px !important;
  }
  section .container .content {
    float: left;
    width: 50%;
    padding-top: 100px !important;
  }
  section .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .third .container div {
    padding: 30px 160px;
  }
  .third .container div img {
    margin-bottom: 30px;
  }
  .third .container div h4 {
    margin-bottom: 20px;
  }
  .sixth .activityInfo {
    width: 70%;
    padding-left: 20px;
  }
  .sixth .activityInfo table tr > td:first-child {
    padding: 10px;
  }
  .sixth .activityInfo table tr > td:nth-child(2) {
    padding: 10px;
  }
  .sixth .activityInfo table tr > td:nth-child(3) {
    padding: 10px;
  }
  .eighth .proposal {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 80%;
  }
  .first header {
    margin-bottom: 200px;
  }
  .first header .logo {
    float: left;
  }
  .first header .formula {
    float: left;
    padding-top: 20px;
  }
  .first header .burger {
    display: none;
  }
  .first header nav {
    background: none;
    display: block;
    float: right;
    position: static;
    vertical-align: middle;
    margin-left: 40px;
    padding-top: 20px;
  }
  .first header nav ul {
    list-style-type: none;
    padding: 0;
  }
  .first header nav ul li {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0);
  }
  .first header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px !important;
  }
  .first header nav ul li:hover {
    border: 1px solid #ffffff;
    border-radius: 15px;
  }
  .first header:after {
    display: table;
    content: "";
    clear: both;
  }
  .first .mainInfo {
    text-align: center;
    padding-bottom: 80px;
  }
  .first .mainInfo h2 {
    font-size: 50px;
  }
  .first .mainInfo p {
    font-size: 22px;
    padding: 0 50px;
    margin-bottom: 50px;
  }
  .first .mainInfo button {
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
  }
  .first .mainInfo button:hover {
    cursor: pointer;
    background: #87be68;
  }
  section .container .image {
    float: left;
    width: 50%;
    padding-top: 65px !important;
  }
  section .container .content {
    float: left;
    width: 50%;
    padding-top: 100px !important;
  }
  section .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .third .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .sixth .container .activityInfo {
    float: left;
    width: 50%;
  }
  .sixth .container .activityInfo table tr > td:first-child {
    padding: 10px 6px;
  }
  .sixth .container .activityInfo table tr > td:nth-child(2) {
    padding: 10px 6px;
  }
  .sixth .container .activityInfo table tr > td:nth-child(3) {
    padding: 10px 6px;
  }
  .sixth .container .newsInfo {
    padding-top: 115px;
    float: right;
    width: 50%;
  }
  .sixth .container:after {
    display: table;
    clear: both;
    content: "";
  }
  footer .container .rules {
    float: left;
    padding-top: 15px;
  }
  footer .container .rights {
    float: right;
  }
  footer .container:after {
    display: table;
    clear: both;
    content: "";
  }
}
@media screen and (min-width: 1200px) {
  .first header {
    margin-bottom: 180px;
  }
  .first header .logo {
    float: left;
  }
  .first header .formula {
    float: left;
    padding-top: 20px;
  }
  .first header .burger {
    display: none;
  }
  .first header nav {
    background: none;
    display: block;
    float: right;
    position: static;
    vertical-align: middle;
    margin-left: 40px;
    padding-top: 20px;
  }
  .first header nav ul {
    list-style-type: none;
    padding: 0;
  }
  .first header nav ul li {
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px 5px !important;
  }
  .first header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px !important;
  }
  .first header nav ul li:hover {
    border: 1px solid #ffffff;
    border-radius: 15px;
  }
  .first header:after {
    display: table;
    content: "";
    clear: both;
  }
  .first .mainInfo {
    text-align: center;
    padding-bottom: 80px;
  }
  .first .mainInfo h2 {
    font-size: 50px;
  }
  .first .mainInfo p {
    font-size: 22px;
    padding: 0 180px;
    margin-bottom: 50px;
  }
  .first .mainInfo button {
    padding: 20px 50px;
    border-radius: 50px;
    border: none;
  }
  .first .mainInfo button:hover {
    cursor: pointer;
    background: #87be68;
  }
  .second .container .image,
  .fifth .container .image {
    float: right;
    padding-top: 65px !important;
    width: 50%;
  }
  .second .container .content,
  .fifth .container .content {
    float: left;
    padding-top: 130px !important;
    width: 50%;
  }
  .second .container:after,
  .fifth .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .third .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .fourth .container .image {
    float: left;
    padding-top: 65px !important;
    width: 50%;
    padding-left: 40px;
  }
  .fourth .container .content {
    float: right;
    padding-top: 130px !important;
    width: 50%;
    padding-right: 90px;
    padding-left: 0;
  }
  .fourth .container:after {
    content: "";
    display: table;
    clear: both;
  }
  .sixth .container .activityInfo {
    float: left;
    width: 55%;
  }
  .sixth .container .activityInfo table tr > td:first-child {
    padding: 15px 10px;
  }
  .sixth .container .activityInfo table tr > td:nth-child(2) {
    padding: 15px 10px;
  }
  .sixth .container .activityInfo table tr > td:nth-child(3) {
    padding: 15px 10px;
  }
  .sixth .container .newsInfo {
    padding-top: 115px;
    float: right;
    width: 40%;
  }
  .sixth .container:after {
    display: table;
    clear: both;
    content: "";
  }
  .seventh {
    height: 540px;
  }
  .seventh .container .form {
    position: absolute;
    left: 27%;
  }
  .eighth .proposal {
    padding-right: 320px;
    padding-left: 320px;
  }
  footer .container .rules {
    float: left;
    padding-top: 15px;
    font-weight: bold;
  }
  footer .container .rights {
    float: right;
  }
  footer .container:after {
    display: table;
    clear: both;
    content: "";
  }
}